<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<display-name>VaadinCms</display-name> 
	
	<listener>
	    <listener-class>com.xtel.cms.servlets.ContextListener</listener-class>
	</listener>
	
	<context-param>
		<param-name>path</param-name>
		<param-value>D:\GGDrivePull\workspace\MobileAdsCMS/</param-value>
	</context-param>
	
	<welcome-file-list>
		<welcome-file>index</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<description>
		Vaadin production mode</description>
		<param-name>productionMode</param-name>
		<param-value>true</param-value>
	</context-param>

	<servlet>
        <servlet-name>Vaadin</servlet-name>
        <servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
        <init-param>
            <description>Vaadin UI to display</description>
            <param-name>UI</param-name>
           <param-value>com.xtel.cms.MainApplication</param-value>
<!--            <param-value>at.downdrown.vaadinaddons.highchartsapi.DemoUI</param-value> -->
<!-- 			<param-value>com.xtel.cms.DemoUI</param-value> -->
<!--             <param-value>com.invient.vaadin.InvientChartsDemoApp</param-value> -->
        </init-param>
        
<!--         <init-param> -->
<!-- 			<description>Application widgetset</description> -->
<!-- 			<param-name>widgetset</param-name> -->
<!-- 			<param-value>at.downdrown.vaadinaddons.highchartsapi.WidgetSet</param-value> -->
<!-- 		</init-param> -->
		
		 <init-param>
			<description>Application widgetset</description>
			<param-name>widgetset</param-name>
			<param-value>com.example.vaadincharts.widgetset.VaadinchartsWidgetset</param-value>
		</init-param>
		
<!-- 		 <init-param> -->
<!-- 			<description>Application widgetset</description> -->
<!-- 			<param-name>widgetset</param-name> -->
<!-- 			<param-value>com.invient.vaadin.charts.widgetset.InvientChartsWidgetset</param-value> -->
<!-- 		</init-param> -->
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Vaadin</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>